<% unless cart.line_items.empty? %>
<article class="cart">
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  <h2>Your Cart</h2>
  <table class="line-items">
    <%= render cart.line_items %>
    <tfoot>
    <tr>
      <th colspan="2">Total:</th>
      <td class="price"><%= number_to_currency(cart.total_price, unit: 'RON', precision: 3) %></td>
    </tr>
    </tfoot>
  </table>
  <div class="actions">
    <%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    <%= button_to 'Checkout', new_order_path, method: :get,  class: 'checkout', disabled: @disable_checkout %>
  </div>
</article>
<% end %>
