<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<p>
  <strong> title:</strong>
  <%= @product. title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @product.locale %>
</p>

<%= link_to 'Edit', edit_product_path(@product, locale: I18n.locale) %> |
<%= link_to 'Back', products_path(locale: I18n.locale) %>
